<!--The generic-content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span routerLink='' class='mat-button'>ProcessPuzzle</span>

  <!-- This fills the remaining space of the current row -->
  <span class="toolbar-spacer"></span>
  <button mat-button routerLink='/smart-document-testbed'>Smart Document</button>
  <button mat-button routerLink='/smart-document-manager-testbed'>Smart Document Manager</button>
  <button mat-button routerLink='/smart-document-tool-testbed'>Smart Document Tool</button>
</mat-toolbar>
<router-outlet></router-outlet>
